/* font import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styling */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* topbar styling */
.topbar {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}
.topbar h1 {
  color: #e8776d;
  font-size: 22px;
}

/* header styling */
.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}
.header h1 {
  color: #333;
}